@font-face {
    font-family: "main";
    src: url("https://verygenericusername.github.io/fonts/csm.ttf");
}
body {
    padding:0%;
    margin:0%;
    background-image: url("assets/background.jpg");
    background-size: 250%;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}
